/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2em;
  position: relative;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

nav {
  position: relative;
}

.navbar-items {
  list-style: none;
  position: absolute;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin: 0;
  right: 0;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items li a {
  color: #FFF;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items li a:hover {
  color: #CCC;
}

.default-btn {
  padding: 15px 20px;
  background-color: #2cC762;
  border-radius: 5px;
  color: #FFF;
}

.default-btn:hover {
  background-color: #22bb5f;
}
/* Navbar */

/* Banner */
.main-banner {
  background-image: url(../assets/mainbanner.png);
  background-position: center;
  background-size: cover;
  padding: 10em 0;
  position: relative;
}

.main-banner h1, .main-banner p {
  color: #FFF;
  text-align: center;
  font-weight: bold;
}

.main-banner h1 {
  font-size: 54px;
}

.main-banner p {
  font-size: 32px;
}
/* Banner */

/* Especialidades */
.specialites-container {
  padding: 5em 0;
}

.specialites-container ul {
  display: flex;
  width: 90%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

.specialites-container ul li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #2cC762;
}

.fa-rocket {
  color: #F45C57;
}

.fa-comments {
  color: #ef8f29;
}

.specialites-container ul li h3 {
  margin-bottom: 25px;
}

.specialites-container ul li p {
  line-height: 24px;
}
/* Especialidades */
