<div class="navbar-container">
  <nav>
      <a href="#"><img src="../assets/company-image.jpg" alt="Logo Ecommerce" class="logo"></a>
      <ul class="navbar-items">
          <li><a href="#">Home</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="/register" class="default-btn">Fazer parte do time!</a></li>
          <li><a href="/login" class="default-btn">Login</a></li>
      </ul>
  </nav>
</div>

<main>
  <div class="main-banner">
      <h1>Ecommerce</h1>
      <p>Os melhores planos para qualquer projeto!</p>
  </div>

  <section class="specialites-container">
      <ul>
          <li>
              <i class="fas fa-shield-alt"></i>
              <h3>Segurança</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim a deserunt reprehenderit non
                  illum ullam explicabo maiores natus quis earum, voluptas nesciunt quae molestias esse
                  incidunt accusantium porro deleniti vel!
              </p>
          </li>
          <li>
              <i class="fas fa-rocket"></i>
              <h3>Velocidade</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim a deserunt reprehenderit non
                  illum ullam explicabo maiores natus quis earum, voluptas nesciunt quae molestias esse
                  incidunt accusantium porro deleniti vel!
              </p>
          </li>
          <li>
              <i class="fas fa-comments"></i>
              <h3>Suporte</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim a deserunt reprehenderit non
                  illum ullam explicabo maiores natus quis earum, voluptas nesciunt quae molestias esse
                  incidunt accusantium porro deleniti vel!
              </p>
          </li>
      </ul>
  </section>
